

.header {

    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    border-bottom-color: black;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    
   
    h1 {
       font-size: 60px; 
       color: white;
    }
    
}